{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>About Us<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
		</div>
	</div>
	
    <div id="overviews" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>Hakkımızda</h3>
                    <p class="lead">Hakkımızda Kısa Bilgi</p>
                </div>
            </div><!-- end title -->
        
			<div class="row align-items-center">
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>VESLİNE CHEMİCALS</h2>
					</li>
				</ul>
				</div>
				</div>
				</div><div class="section mcb-section bs-container" style="padding-top:20px;padding-bottom:20px;">
				<div class="row">
				<div class="pt-5 content col-12">
				
				<div class="panel no-gradient">
				<p>&Ouml;z sermayemizle &uuml;&ccedil; ortaklı bir firma olarak 1987 yılında faaliyete başladık. İlk yıllarımızda, kimyasal hammaddelerin yurtdışı ve yurti&ccedil;i temini ve satışını ger&ccedil;ekleştirdik. 1994 yılında, Tekirdağ &Ccedil;orlu&rsquo;da depo alanına taşındık. 1999 yılında 5.000 m<sup>2</sup>'si kapalı, toplam 16.000 m<sup>2</sup><span>&nbsp;</span>alana sahip fabrikamızda; teknik servis, kalite kontrol ve Ar-Ge laboratuvarlarıyla tekstil yardımcı kimyasalları ve denim kimyasallarının &uuml;retimine başladık. 2018 yılında yeni binamızı da hizmete alarak aynı lokasyonda, 10.000 m<sup>2</sup>si kapalı olmak &uuml;zere, toplam 21.000m<sup>2</sup><span>&nbsp;</span>alanda hizmet vermeye devam ediyoruz.</p>
				<p>Yurt i&ccedil;i ve yurt dışındaki temel end&uuml;striyel kimyasal ithalat ve ihracat kimliğimize, tekstil yardımcı kimyasal &uuml;retimiyle sanayici kimliğini ekleyerek, kimya sekt&ouml;r&uuml;nde k&uuml;resel bir oyuncu olarak yer alıyoruz.</p>
				<p>Kendimizi s&uuml;rekli yenileyen dinamik yapımız, her ge&ccedil;en yıl y&uuml;kselen başarı grafiğimiz, g&uuml;&ccedil;lenen kurumsal kimliğimiz ve deneyimli ekibimizle sekt&ouml;rdeki hem &ccedil;ok uluslu hem de yerli kimyasal &uuml;reticilerle rekabet ediyoruz. M&uuml;şterilerimizin mutlak memnuniyetini sağlamak, &uuml;r&uuml;nlerimizde ve hizmetimizde y&uuml;ksek kaliteye ulaşarak, verimli, etkin ve s&uuml;rekli hizmetle, sekt&ouml;rde b&uuml;y&uuml;meye ve hizmet vermeye devam ediyoruz. &nbsp;</p>
				<p>TS EN ISO 9001-2015 Kalite Y&ouml;netim Sistemi Belgesi ve ISO 27001 Bilgi Y&ouml;netim Sistemiyle, kimya sekt&ouml;r&uuml;nde toplam kalite, &ccedil;evre sağlığı ve toplumsal sorumluluk anlayışından &ouml;d&uuml;n vermeden bir d&uuml;nya markası olmak i&ccedil;in yolumuza emin adımlarla devam ediyoruz.</p>
				<p>Dinamik ve s&uuml;rekli gelişen bir şirket olmamızın sırrı; şirket k&uuml;lt&uuml;r&uuml;m&uuml;zdeki, emek, sevgi ve disiplin gibi aile değerleriyle, iş hayatı değerlerinin birlikteliği ve uyumu. &Ccedil;ağdaş ve sağlıklı bir iş yaşamının gereği olarak &ccedil;alışma alanlarımızı, iş&ccedil;i sağlığı ve iş g&uuml;venliği gereksinimlerine uygun olarak faaliyet g&ouml;steriyoruz. &nbsp;</p>
				<p><em>&Uuml;r&uuml;n Portf&ouml;y&uuml;</em></p>
				<ul>
				<li>Genel Kimyasallar</li>
				<li>Boyalar</li>
				<li>Siyan&uuml;rler</li>
				<li>Metal kaplama kimyasallar</li>
				<li>Gıda kimyasalları</li>
				<li>Tarım kimyasalları</li>
				<li>Tekstil yardımcı kimyasalları</li>
				</ul>
				</div>
				</div>
				</div>
				</div>
				</div>
				</div>
				</div>
				</div>
				

                        <a href="#" class="hover-btn-new orange"><span>Learn More</span></a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <section class="section lb page-section">
		<div class="container">
			 <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>TARİHÇEMİZ</h3>
                    <p class="lead"></p>
                </div>
            </div><!-- end title -->

        </div><!-- end container -->
    </div><!-- end section -->

			<div class="timeline">
				<div class="timeline__wrap">
					<div class="timeline__items">
						<div class="timeline__item">
							<div class="timeline__content img-bg-01">
								<h2>1987</h2>
								<p>Öz sermayemizle üç ortaklı bir firma olarak faaliyete başladık..</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-02">
								<h2>1994</h2>
								<p> Tekirdağ Çorlu’daki depo alanına taşındık.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-03">
								<h2>1999</h2>
								<p>1999 yılında 5.000 m2'si kapalı, toplam 16.000 m2 alana sahip fabrikamızda; teknik servis, kalite kontrol ve Ar-Ge laboratuvarlarıyla tekstil yardımcı kimyasalları ve denim kimyasallarının üretimine başladık.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-04">
								<h2>2018</h2>
								<p>Yeni binamızı da hizmete alarak aynı lokasyonda, 10.000 m2si kapalı olmak üzere, toplam 21.000m2 alanda hizmet vermeye devam ediyoruz..</p>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<div class="hmv-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
						<h3>Mission</h3>
						<div class="tr-pa">M</div>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita, provident cupiditate in excepturi.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
						<h3>Vision</h3>
						<div class="tr-pa">V</div>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita, provident cupiditate in excepturi.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-history"></i></div>
						<h3>History</h3>
						<div class="tr-pa">H</div>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eligendi expedita, provident cupiditate in excepturi.</p>
					</div>
				</div>
			</div>
		</div>
	</div>




    {% endblock %}